<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zakia.FoodRecipes">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_food"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_food"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="com.zakia.FoodRecipes.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.zakia.FoodRecipes.activities.DetailRecipeActivity" />
        <activity android:name="com.zakia.FoodRecipes.activities.FilterFoodActivity" />
    </application>

</manifest>